.container {
  display: none;
}

.importer {
  animation: appear 0.3s ease-in-out;
  height: 20vh;
  width: 100%;
  max-width: 850px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-style: dashed;
  border-radius: 4px;
  margin: 30px;
  background-color: #0000005e;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.importer:hover {
  background-color: #0000008e;
  transition: background-color 0.3s ease-in-out;
}

.container_completed {
  animation: appear 0.5s ease-in-out;
  text-align: center;
  border: 1px solid #1f1f1f;
  border-radius: 4px;
  margin: 30px;
  background-color: #0000005e;
  padding: 30px;
  width: 100%;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
